html {
    scroll-behavior: smooth;
}

body {
    background-color: #001319ef;
    color: azure;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -10px;
    padding: 0;
    overflow-x: hidden;
}

#sub_head{
    text-decoration: underline;
    font-size: 40px;
    text-decoration-color: rgb(33, 87, 137); /* Change this to any color you like */
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centers items vertically */
    /* padding-right: 30px;
    padding-left: 40px;  */
}

#text{
    font-size: 25px;
}
#buttons {
    display: flex;
    gap: 10px; /* Adds space between buttons */
}

#buttons a {
    text-decoration: none;
    color: azure;
    padding: 10px 20px;
    transition: background-color 0.3s ease; /* Optional: smooth hover effect */
}

#buttons a:hover {
    color:rgb(33, 87, 137);
}
.kodo{
    font-family: "Kode Mono", monospace;
}
#logo{
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-size: 18px;
}
#hero{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:0px;
    justify-content: center;
    height: 80vh; 
    font-family: Arial, sans-serif;
}
#hey{
    color: rgb(33, 87, 137);
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    position: relative;
    top: 50px;
}
#title{
    font-size: 80px;
    font-family: "Archivo Black", sans-serif;
    color:azure;
}
#spanbar{
    position: relative;
    bottom: 40px;
}
#typing-text {
    font-size: 30px;
    font-weight: bold;
    opacity: 0.5;
  }

  #cursor {
    display: inline-block;
    width: 2px;
    height: 27px;
    opacity: 0.5;
    background-color: white;
    margin-left: 2px;
    animation: blink 0.7s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
#download{
    align-items: center;
    background-color: #001319ef;
    border: 3px solid rgb(33, 87, 137);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(241, 237, 237, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    position: relative;
    bottom: 30px;
    margin-bottom: 6%;
}
  
#download:hover {
border-color: rgba(0, 0, 0, 0.15);
box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
color: rgba(0, 0, 0, 0.65);
}

#download:hover {
transform: translateY(-1px);
}

#about_content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#about_para{
    font-family: "Karla", sans-serif;
    font-size: 20px;
    width:75%;
    opacity: 0.5;
}
#img
{
    width :300px;
    height:300px;
    border-radius: 100px;
    border:6px solid rgb(33, 87, 137);
}

#edu_content{
    display:flex;
    flex-direction: row;
    align-items: center; /* Center children horizontally */
    justify-content: center;
}

.vertical_line{
    border-left:5px solid azure;
    height:230px;
    margin:0 60px;
    opacity:0.5;
}
.dot{
    width:20px;
    height:20px;
    background-color: rgb(33, 87, 137);
    border-radius: 50%;
    
}
#edu_details{
    opacity: 0.5;
    font-family: "Karla", sans-serif;
}
#dot1{
    position: relative;
    bottom:250px;
    left:52px;
}
#dot2{
    position: relative;
    bottom:156px;
    left:52px;
}
#dot3{
    position: relative;
    bottom:60px;
    left:52px;
}

#works_con{
    height: 500px;
    display: flex;
    gap:35px;
    overflow-x: auto;
}
#works_con::-webkit-scrollbar{
    width:0;
}
#works_con_s{
    height: 420px;
    display: flex;
    gap:35px;
    overflow-x: auto;
}
#works_con_s::-webkit-scrollbar{
    width:0;
}
#works{
    /* border:6px solid rgb(33, 87, 137); */
    border-radius: 20px;
    height:380px;
    width:300px;
    padding: 30px;
    background-color: #001319ef;
    
    /* opacity: .5; */
    font-family: "Karla", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
}
#work_img{
    height:130px;
    width:280px;
    border-radius: 20px;
}
#works_buttons{
    display: flex;
    gap:15px;
}
#simple_works{
    border-radius: 20px;
    height:300px;
    width:300px;
    padding: 30px;
    background-color: #001319ef;
    
    /* opacity: .5; */
    font-family: "Karla", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
}

#skills_content{
    border-radius: 20px;
    height:auto;
    width:auto;
    padding: 30px;
    background-color: #001319ef;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#skills_heading{
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    font-size: 20px;
    text-decoration-color: rgb(33, 87, 137); /* Change this to any color you like */
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

#resume{
    display: flex;
    flex-direction: column;
}
#resume_bts{
    display: flex;
    gap: 10px;
    position: relative;
    top:40px;
}
#resume_text{
    font-family: "Karla", sans-serif;
    font-size: 20px;
    opacity: 0.5;
}



#links{
    display: flex;
    gap:20px;
}

#link_icons{
    padding: 20px;
}
#medium{
    position: relative;
    bottom:30px;
}
#links_icons{
    height: 50px;
    width:50px;
}
#links_icons_m{
    height:80px;
    width:80px;
}
#footer_text{
    font-family: "Major Mono Display", monospace;
    position: relative;
    bottom:18px;
    
}

@media screen and (max-width: 480px) {
    #title {
        font-size: 30px;
    }
    #text{
        font-size: 12px;
    }
    #buttons {
        display: none;
    }
    #hey{
        font-size: 20px;
        position: relative;
        top: 27px;
    }
    #typing-text {
        font-size: 17px;
        font-weight: bold;
        opacity: 0.5;
    }
  
    #cursor {
        display: inline-block;
        width: 2px;
        height: 14px;
        opacity: 0.5;
        background-color: white;
        margin-left: 2px;
        animation: blink 0.7s infinite;
    }
    #spanbar{
        position: relative;
        bottom: 20px;
    }
    #download{
        font-size: 10px;
        font-weight: 600;
        min-height: 20px;
        
    }
    #hero{
        height: 75vh;
    }
    #sub_head{
        font-size: 25px;
        text-underline-offset: 7px;
        text-decoration-thickness: 3px;
    }
    #about_para{
        font-size: 15px;
        width:auto;
    }
    #img
    {
        margin-top: 20px;
        margin-bottom: 20px;
        width :150px;
        height:150px;
        border-radius: 50px;
        border:3px solid rgb(33, 87, 137);
    }
    #about_content{
        display:flex;
        flex-direction:column-reverse;
        align-items: center;
    }
    #edu_details{
        font-size: 12px;
    }
    #edu_yr{
        font-size: 17px;
    }
    .vertical_line{
        border-left:4px solid azure;
        height:240px;
        position: relative;
    }
    .dot{
        width:15px;
        height:15px;
        background-color: rgb(33, 87, 137);
        border-radius: 50%;
    }
    #dot1{
        position: relative;
        left:54px;
        bottom: 255px;
    }
    #dot2{
        position: relative;
        left:54px;
        bottom: 140px;
    }
    #dot3{
        position: relative;
        left:54px;
        bottom: 44px;
    }
    #works{
        
        height:300px;
        width:200px;
    }
    #teach{
        font-size: 10px;
    }
    #work_img{
        height:80px;
        width:180px;
        border-radius: 20px;
    }
    #works_con{
        height: 450px;
        display: flex;
        gap:35px;
        overflow-x: auto;
    }
    #works_con_s{
        height: 450px;
    }
    #simple_works{
        height:250px;
        width:200px;
    }
    #resume_text{
        font-size: 12px;
    }
    #footer_text{
        position: relative;
        bottom:18px;
        font-size: 8px;
        
    }
    #resume{
        margin-bottom: 70px;
    }
    #links{
        display: flex;
        gap:10px;
    }
    
    #links_icons{
        height: 25px;
        width:25px;
    }
    #links_icons_m{
        height: 40px;
        width:40px;
    }
    #medium{
        position: relative;
        bottom:15px;
    }
}

@media screen and (max-height: 480px ){
    #hero{

    }
}